In [1]:
a = 10
if a >5 :
    pass

In [2]:
a

10

In [3]:
a = 10 
if a <8 :
    print("hello ")

In [4]:
7

7

In [5]:
a = 10
if a == 11 :
    print("My condition is false")
    
else :
    print("Hello")

Hello

In [6]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [7]:
price = 500
if price > 500 :
    print("may be i wont to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")

In [8]:
price = 500
if price > 500 :
    print("may be i wont to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
    
elif  price == 500 :
    print("for sure i will be able to buy ")
    
else :
    print("i dont know")

for sure i will be able to buy

In [9]:
price > 500

False

In [10]:
price <500

False

In [11]:
price >400

True

In [12]:
price >=500

True

In [13]:
price<=500

True

In [25]:
price = int(input())
if price <500 :
    print("i will able  to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    
    elif  price < 300 :
        print(" i will able to buy  shirt")
    
    else :
        print("i wont be able to buy anything")
    
else :
    print("i wont be able to buy anything with this price tag")

200
i will able  to buy something
i will be able to buy a jacket

In [21]:
600

600

In [31]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFFEL")
        if marks < 400:
            print("Try something else")
            
        else:
            print("You GOT TOFFEL")
else: 
    print("You Are got GRE congratulations")

300
NO GRE
TOFFEL
Try something else

In [34]:
val = float(input("enter a floating point number")) 
if val >=0 :
    if val ==0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is a neagtive number")

enter a floating point number0
entered value is zero

In [38]:
a = "sudh"
if a == "sudh" or a=="Sudh":
   print("this is sudh")

this is sudh

In [42]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("lets do something")

lets do something

In [46]:
l = [1,2,3,4,5,6,"Avi",22.22]

In [47]:
l

[1, 2, 3, 4, 5, 6, 'Avi', 22.22]

In [57]:
for i in l :
    if type(i) == int :
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
7
Avi1

In [58]:
l

[1, 2, 3, 4, 5, 6, 'Avi', 22.22]

In [59]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
7
Avi1
23.22